.cardsProdutos{
    width: 20vw;
    height: 60vh;
    background-color: white;
    margin-bottom: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ImagemProd{
    height: 50%;
    width: 100%;
    background-image: url('https://http2.mlstatic.com/camisa-blusa-social-masculina-premium-luxo-slim-fit-top-5045-D_NQ_NP_781512-MLB40115966322_122019-F.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}