.PrincipalProd{
    width: 100%;
    margin: auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 2px solid black;
    overflow: hidden;
}

.filtros{
    padding: 5%;
    height: 100%;
    height: 100vh;
    border-right: 2px solid black;
    background-image: url("./banner3.png");
    background-size: cover;
}

.selectFiltros{
    color: white;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.089);
    backdrop-filter: blur(10px);
    text-align: center;
    width: 100%;
}

.selectFiltros option{
    background-color: black;
    color: white;
}

.cardsProdutosDiv{
    height: 100%;
    padding: 5%;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: scroll;
    cursor: pointer;
}

.cardsProdutos{
    width: 20vw;
    height: 60vh;
    background-color: white;
    margin-bottom: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ImagemProd{
    height: 50%;
    width: 100%;
    background-image: url('https://http2.mlstatic.com/camisa-blusa-social-masculina-premium-luxo-slim-fit-top-5045-D_NQ_NP_781512-MLB40115966322_122019-F.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}