.background{
    background-image: url("../banner3.png");
    background-size: cover;
    height: 100vh;
}

/* ////////////////////////////////////////////////////////////// */

.informaçõesCliente{
    display: flex;
    flex-direction: column;
}