.ListaCliente{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

table, th, td {
    border: 2px solid;
  }

th{
    width: 20%;
    max-width: 50%;
    padding: 2%;
    font-size: 20px;
}

.idTable{
    width: 10%;
}

.valorTable{
    width: 15%;
}

.apagarTable{
    width: 5%;
}

table{
    text-align: center;
    max-height: 50vh;
    width: 100%; /* largura total */
    overflow: auto;
}

.AlinharPesquisaEnovo{
    display: flex;
    justify-content: space-between;
}

.NovoTable{
    width: 100%;
}

#buscarProd{
    outline: 0;
    border: 2px solid #E8D1C5;
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
    width: 200px;
    color: #E8D1C5;
}

.AlinhaAltButProd button{
    width: 50%;
    margin: auto;
}