.opCliente{
    width: 30%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.opCliente h2{
    padding: 1%;
    border: 2px solid #E8D1C5;
    overflow-y: hidden ;
    border-radius: 5px;
}