#footer{
    height: 15vh;
    width: 100vw;
    background-color: black;
    display: flex;
    margin-top: 1%;
    color: #E8D1C5;
}

#footer h3{
    font-size: 20px;
}

.footerMargin{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}