.divCadMarcas{
    flex-direction: column;
    display: none;/* não exibido por padrão */
    position: fixed; /* posição fixa na tela */
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.055) !important;
    backdrop-filter: blur(5px);
    z-index: 999; 
    border: 3px solid #E8D1C5;
}

.alinhaModalMarca{
    border: 3px solid #E8D1C5;
    background-color: black; 
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centralizado horizontal e verticalmente */
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    height: 40%;
}

.fecharMarcaMarca{
    position: fixed;
    top: 10px;
    right: 100px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 2px solid #E8D1C5;
}

.fecharMarca::before,
.fecharMarca::after {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: #E8D1C5;
    top: 8px;
    right: 18px;
}

.fecharMarca::before {
  transform: rotate(45deg);
}

.fecharMarca::after {
  transform: rotate(-45deg);
}

.NovoTableMarca{
    width: 100%;
}

.BotaoCadastrarMarca{
    width: 50%;
    height: 40px;
    overflow: hidden;
}