.cadProdutos{
    display: flex;
    flex-direction: column;
}

.cadProdutos .Botao{
    width: 30%;
}

.alinharCadProd{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.crudProduto{
    width: 60%;
}

.imgProdAdm{
    height: 250px;
    width: 40%;
    border: 2px solid #E8D1C5;
    border-radius: 2%;
}