.itemPaiPagamento{
    width: 60%;
    height: 90%;
    margin: auto;
    border-radius: 5px;
    color: #E8D1C5;
    overflow-y: auto;
    padding: 2%;
}

#EtapaPagamento{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.EtapaPagamentoCarrinhoName{
    color: white;
}

.itemMãePgamaneto{
    width: 30%;
    height: 90%;
    margin: auto;
    border: 3px solid #E8D1C5;
    border-radius: 5px;
    padding: 1%;
    color: #E8D1C5;
    overflow: hidden;
}

#divpagamento{
    padding: 5%;
    border-radius: 3px;
    color: #E8D1C5;
    height: 50%;
    margin-bottom: 3%;
    border: 3px solid #E8D1C5;
    overflow-y: auto;
}

#preçoDivPagamento{
    overflow-y: auto;
    max-height: 80%;
}

#divFormasPagamento{
    padding: 5%;
    border-radius: 3px;
    color: #E8D1C5;
    height: 40%;
    margin-bottom: 1%;
    border: 3px solid #E8D1C5;
    overflow-y: auto;
    overflow-x: hidden;
}

#divFormasPagamento p{
    margin-bottom: 1%;
}

#divpagamento h3{
    text-align: end;
    margin-right: 2%;
}

.BotaoPedido{
    width: 50%;
    border-radius: 5px;
    margin: end;
    border: 0;
    color: #E8D1C5;
    background-color: transparent;
    border: 2px solid #E8D1C5;
    cursor: pointer;
}

.flexBotao{
    display: flex;
    justify-content: end;
    margin-top: 5%;
}


#divFormasPagamento{
    padding: 5%;
    border-radius: 3px;
    color: #E8D1C5;
    height: 40%;
    margin-bottom: 1%;
    border: 3px solid #E8D1C5;
    overflow-y: auto;
    overflow-x: hidden;
}

#divFormasPagamento p{
    margin-bottom: 1%;
}

#divpagamentoCarrinho h3{
    text-align: end;
    margin-right: 2%;
}

#divP_E{
    height: 85%;
    border: 2px solid #E8D1C5;
    padding: 5%;
}
