.CardCarrinho{
    width: 100%;
    border: 3px solid #E8D1C5;
    display: flex;
    justify-content: space-around;
    height: 25vh;
    margin-bottom: 5%;
    align-items: center;
    border-radius: 5px;
    color: #E8D1C5;
}