#carrinho{
    background-color: rgba(0, 0, 0, 0.829);
    backdrop-filter: blur(10px) ;
    height: 85vh;
    width: 90vw;
    margin: auto;
    margin-top: 1%;
    border-radius: 5px;
    display: flex;
}

.itemPaiCarinho{
    width: 60%;
    height: 90%;
    margin: auto;
    border-radius: 5px;
    color: #E8D1C5;
    padding: 2%;
    overflow-y: hidden;
}

#listaCarrinhoItens{
    overflow-y: auto;
    height: 60vh;
    width: 100%;
    padding: 1%;
}

#Etapa{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.EtapaCarrinhoName{
    color: white;
}

.itemMãeCarinho{
    width: 30%;
    height: 90%;
    margin: auto;
    border: 3px solid #E8D1C5;
    border-radius: 5px;
    padding: 1%;
    color: #E8D1C5;
}

#divpagamentoCarrinho{
    padding: 5%;
    border-radius: 3px;
    color: #E8D1C5;
    height: 90%;
    margin-bottom: 3%;
    border: 3px solid #E8D1C5;
    overflow-y: auto;
}

.BotaoPedido{
    width: 50%;
    border-radius: 5px;
    margin: end;
    border: 0;
    color: #E8D1C5;
    background-color: transparent;
    border: 2px solid #E8D1C5;
    cursor: pointer;
}

.flexBotao{
    display: flex;
    justify-content: end;
    margin-top: 5%;
}

#qtdProduto{
    margin-bottom: 1%;
}