@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: black;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #E8D1C5;
    border-radius: 5px;
}