#DivCadastro{
    height: 80vh;
    min-width: 300px;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(10px);
    margin: auto;
    border-radius: 10px;
    color: #E8D1C5;
    margin-top: 3%;
    padding: 1%;
}

#DivCadastro hr{
    color: #E8D1C5;
}

.background{
    background-image: url("./banner3.png");
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(5px);
}

#DivCadastro .divStyle{
    display: flex;
    padding: 10px;
    width: 90%;
    margin: auto;
}

#DivCadastro ol{
    font-size: 25px;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 0;
}

#DivCadastro hr{
    border: 1px solid #E8D1C5;
    width: 90%;
    margin: auto;
}

#Formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
}

.fontCad{
    font-size: 20px !important;
}

label{
    font-size: 20px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #E8D1C5 !important;
}

.divButtonLogin{
    display: flex;
}

.tamanhoButton{
    width: 40%;
    height: 5vh;
    font-size: 15px;
}

.Esqueceu{
    width: 50%;
    margin-left: 1%;
}