.opADM{
    width: 20%;
    overflow: hidden ;
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.opCliente h2{
    padding: 1%;
    border: 2px solid #E8D1C5;
    border-radius: 5px;
    overflow-y: hidden;
    cursor: pointer;
}

.Link{
    overflow-y: hidden;
}

.opCliente h2:hover{
    background-color: #E8D1C5;
    color: black;
}